.body{
    background: paleturquoise;
}
.table{
    background: red;
    
}
.tableheding{
    background: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
.tabledata{
    background: palegreen;
    color: red;
}